<div class="mb-3 row">
    <label for="Nombre" class="col-sm-2 col-form-label" >Nombre:</label>
    <div class="col-sm-10">
        <input class="form-control" type="text" id="Nombre" [(ngModel)]="miNombre">
    </div>
    <label for="Descripcion" class="col-sm-2 col-form-label">Descripcion:</label>
    <div class="col-sm-10">
        <input class="form-control" type="text" id="Descripcion" [(ngModel)]="miDescripcion">
    </div>        
</div>
<div class="mb-3 row">
    <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" (click)="click()" >Agregar</button>
    </div>    
</div>
<ul  class="list-group">
    <li *ngFor="let item of miLista" > 
        <b>{{ item.id }}</b> -  {{ item.nombre }} - {{ item.descripcion }}   
        <button type="submit" class="btn btn-danger" (click)="eliminar(item.id)" >Eliminar</button>
    </li>
</ul>
