<!--
<label>{{ title.toUpperCase() }}</label> <br>
<input class="claseTexto" type="number" [(ngModel)]="primerNumero" placeholder="Primer Numero"/> <br><br>
<input class="claseTexto" type="number" [(ngModel)] = "segundoNumero" placeholder="Segundo Numero"/> <br>
<button id="idCalculos" name="btnCalculos" (click)="clickBoton()" >Hacer Calculos</button>
<p>La suma es: {{ primerNumero + segundoNumero }}</p>
<p>La resta es: {{primerNumero - segundoNumero }} </p>
<p>La multiplicacion es: {{primerNumero * segundoNumero}} </p>
<p>La division es: {{primerNumero / segundoNumero}} </p>
-->
<app-lista></app-lista>